.navbar {    /* hidden by default */
    display: inline-block;
    top: 250px;
    height: 75px;
    padding: 15px;
    display: flex;
}

.menu {
    flex-grow: 1;
    background-color: none;
    padding: 20px; 
    font-size: 30px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Varela Round";
    color: #567657;
}

.menuItem {
    display: none;
    display: inline-block; 
}

.menuItem img {
    width: 50px;
    height: 50px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    cursor: pointer;
}

.menuItem a {
    display: block;
    text-decoration: none;
    font-size: 25px;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin-top: 0px;
    padding-top: 0px;
}

.menuItem:hover {
    transform: scale(1.05); 
}

.menuItem a:visited {
    color: inherit;
}

#menuIcon {
    height:80px;
    width:80px;
    padding:0px;
    margin:0px;
}

#menuIcon:hover {
    transform: scale(1.05);
    cursor: pointer;
}
