
/* styles.css */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: "Montserrat";
    background: #49A7BC;
    overflow: hidden; /* Prevents scrolling */
  }
  
  .options-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 2%;
    box-sizing: border-box;
  }

  h1 {
    font-size: 3vw;
    width: 100%;
    text-align: center;
  }
  
  .img-button-container {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .Blob {
    width: 100%; /* Adjust the width as needed */
    max-width: 30vw; /* Maximum width for the character image */
  }
  
  .Blob img {
    width: 100%;
    height: auto;
  }
  
  .text-box {
    width: 100%;
    height: 200px;
    max-width: 900px; /* Maximum width for the text box */
    background-color: #f0f0f0;
    padding: 3%;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
  }
  
  .next-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 2vw;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .next-button:hover {
    background-color: #45a049;
  }
  

  .option-button {
    width: 400px;
    height: 80px;
    padding: 10px 20px;
    margin-right: 10px;
    font-size: 1vw;
    background-color: #F4A838;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Montserrat";
  }

  .option-button:hover {
    background-color: #D2912F;
  }

  .option-button-wrong {
    width: 400px;
    height: 80px;
    padding: 10px 20px;
    margin-right: 10px;
    font-size: 1vw;
    background-color: #F4A838;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Montserrat";
  }

  .option-button-wrong:hover {
    background-color: #D2912F;
  }

  .option-button-wrong:active {
    background-color: #E91818;
  }

  .button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px; /* Space between buttons */
  }
  

  /* Media query for smaller screens */
  @media (max-width: 768px) {
    .story-page {
        padding: 10px; /* Adjust padding for smaller screens */
    }
  
    .character-image, .text-box {
        width: 100%; /* Full width for smaller screens */
        max-width: none; /* No maximum width for smaller screens */
    }
  }
  
  /* Media query for smaller screens */
  @media (max-width: 768px) {
    h1 {
        font-size: 4vw; /* Larger font size for smaller screens */
    }
  
    .text-box {
        font-size: 3vw; /* Larger font size for smaller screens */
    }
  
    .character-image {
        width: 80%; /* Adjust width for smaller screens */
    }
  
    .next-button {
        font-size: 4vw; /* Adjust font size for smaller screens */
    }
  }